root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[third_party/**]
charset = utf-8
insert_final_newline = false

[*.{cpp,h,hpp,c,cc,ixx,inl,rc,mm}]
indent_style = space
indent_size = 2

[*.{vcxproj,filters,user,sln,slnx}]
indent_style = space
indent_size = 2
